#colorbox .elgg-form-seo-edit {
    max-height: 600px;
    overflow-y: auto;
}

.seo-list {
	list-style: disc;
	padding-left: 1rem;
}

.seo-list > li:not(:last-child) {
	margin-bottom: 4px;
}

.seo-path {
	max-width: 250px;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-indent: unset;
	margin: 0;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	padding: 2px;
	background: #f4f4f4;
	border-radius: 3px;
	font-size: 90%;
	font-family: 'Courier', monospace;
}

.seo-path:hover {
	max-width: 100%;
	white-space: normal;
}

.seo-search-form {
	margin: 2rem auto;
	padding: 1rem;
	background: #f4f4f4;
	border: 1px solid #e1e1e1;
}